h1 {
  color: black; }

h2 {
  color: black; }

h3 {
  color: black; }

body {
  background-image: url(../img/esponja-de-cosech.png); }

header {
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  header h1 {
    background-color: black; }
  header nav {
    background-color: antiquewhite; }
  header li {
    display: inline-block; }
  header a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px; }
    header a:hover {
      background-color: white; }

/* Contacto */
legend {
  color: black; }

label {
  color: black; }

.formulario {
  background: linear-gradient(to right, lightblue, white);
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
  width: 400px;
  height: 300px; }

.contacto {
  background: linear-gradient(to right, lightblue, white);
  /* background-color: rgb(19, 153, 153); */
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
  width: 300px;
  height: 300px;
  transition: height 0.5s , width 0.8; }

.contacto:hover {
  background-color: azure;
  height: 400px;
  width: 400px; }

.tituloContacto {
  text-align: center; }

/* Grid Contacto */
.gridContacto {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "titulo  tituto" "contacto  formu" "contacto formu"; }

.gridContacto h1 {
  grid-area: titulo; }

.gridContacto div {
  grid-area: redes; }

.gridContacto main {
  grid-area: contacto; }

.gridContacto img {
  grid-area: escudo; }

.formulario {
  grid-area: formu; }

/* Media Queries contacto  */
@media screen and (max-width: 600px) {
  body {
    background-color: aqua; }
  .gridContacto {
    display: flex;
    flex-direction: column;
    grid-template-areas: "titulo titulo" "contacto formu" "contacto formu"; } }

@media screen and (min-width: 600px) {
  body {
    background-color: aquamarine; }
  .gridContacto {
    display: flex;
    flex-direction: column;
    grid-template-areas: "titulo  tituto" "contacto  formu" "contacto formu"; } }

/*pages - futbol*/
.tablaFutbol {
  background: linear-gradient(to right, blue, white);
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
  width: 350px;
  height: 940px; }

.reducido {
  background: linear-gradient(to right, blue, white);
  background-color: aqua;
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
  width: 400px;
  height: 240px; }

.instanciaFinal {
  background: linear-gradient(to right, blue, white);
  background-color: aqua;
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
  width: 400px;
  height: 850px; }

/* grid Futbol */
.futbol {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: min-content min-content;
  grid-template-areas: "tabla reducido" "tabla final" "tabla final"; }

.tablaFutbol {
  grid-area: tabla; }

.reducido {
  grid-area: reducido; }

.instanciaFinal {
  grid-area: final; }

/* media queres futbol */
@media screen and (max-width: 830px) {
  body {
    background-color: aqua; }
  .futbol {
    display: flex;
    flex-direction: column; } }

/*Plantel profecional*/
.plantel {
  background: linear-gradient(to right, blue, white);
  border: 1px black solid;
  padding: 1px;
  margin: 1px;
  width: 460px;
  height: 900px; }

/* grid plantel profesinal */
.equipo {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: min-content min-content;
  grid-template-areas: "plantel atlanta" "plantel atlanta" "plantel atlanta"; }

.plantel {
  grid-area: plantel; }

.atlanta {
  grid-area: atlanta; }

/* media queris plantel profesional */
@media screen and (max-width: 930px) {
  .equipo {
    display: flex;
    flex-direction: column; } }

/*Multimedia*/
.llegoLaBanda {
  background: linear-gradient(to right, blue, white);
  border: 1px black solid;
  padding: 2px;
  margin: 10px;
  width: 210px;
  height: 350px; }

.hojaEnBlanco {
  background: linear-gradient(to right, blue, white);
  border: 1px black solid;
  padding: 2px;
  margin: 10px;
  width: 270px;
  height: 470px; }

/* grid Multimedia */
.cancionesLlego {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: min-content min-content;
  grid-template-areas: "entradaLlego entradaLlego" "video letra" "video letra"; }

.cancionesLlego h2 {
  grid-area: entradaLlego; }

.cancionesLlego iframe {
  grid-area: video; }

.cancionesLlego div {
  grid-area: letra; }

.hojaEnBlancoL {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content;
  grid-template-areas: "hoja hoja" "videoHoja hojaEnBlancoL" "videoHoja hojaEnBlancoL"; }

.hojaEnBlancoL div {
  grid-area: hojaEnBlancoL; }

.hojaEnBlancoL h2 {
  grid-area: hoja; }

.hojaEnBlancoL iframe {
  grid-area: videoHoja; }

/* Media Queries Multimedia  */
/* llego */
@media screen and (max-width: 500px) {
  body {
    background-color: aqua; }
  .cancionesLlego {
    display: flex;
    flex-direction: column; }
  .hojaEnBlancoL {
    display: flex;
    flex-direction: column; } }

@media screen and (min-width: 480px) {
  body {
    background-color: aquamarine; }
  .cancionesLlego {
    display: flex;
    flex-direction: column;
    grid-template-areas: "entradaLlego entradaLlego" "video letra" "video letra"; }
  .hojaEnBlancoL {
    display: flex;
    flex-direction: column;
    grid-template-areas: "hoja hoja" "videoHoja hojaEnBlancoL" "videoHoja hojaEnBlancoL"; } }

@media screen and (min-width: 1124px) {
  body {
    background-color: blue; }
  .cancionesLlego {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: min-content min-content;
    grid-template-areas: "entradaLlego entradaLlego" "video letra" "video letra"; }
  .hojaEnBlancoL {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;
    grid-template-areas: "hoja hoja" "videoHoja hojaEnBlancoL" "videoHoja hojaEnBlancoL"; } }

/* Futbol Juvenil */
.categoriasInferiores {
  background: linear-gradient(to right, blue, white);
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
  width: 380px;
  height: 300px; }

.nuevosProfesionales {
  background: linear-gradient(to right, blue, white);
  border: 1px black solid;
  padding: 2px;
  margin: 2px;
  width: 340px;
  height: 340px; }

/* grid  Furbol Juvenil */
.categorias {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content;
  grid-template-areas: "tabla jugadores" "tabla jugadores"; }

.categoriasInferiores {
  grid-area: tabla; }

.nuevosProfesionales {
  grid-area: jugadores; }

/* media  queris futbol juvenil */
@media screen and (max-width: 770px) {
  body {
    background-color: aqua; }
  .categorias {
    display: flex;
    flex-direction: column; } }

/*Index*/
.nuevosSocios {
  background: linear-gradient(to right, blue, white);
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
  width: 200px;
  height: 540px; }

.fechas {
  background: linear-gradient(to right, blue, white);
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
  width: 250px;
  height: 500px; }

.actualidad {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content;
  grid-template-areas: "partidos socios" "partidos socios"; }

.fechas {
  grid-area: partidos; }

.nuevosSocios {
  grid-area: socios; }

/* Media Queris Index */
@media screen and (max-width: 500px) {
  .actualidad {
    display: flex;
    flex-direction: column; }
  .googleMaps {
    display: none; } }
