/* Contacto */

legend {
  color: black;
}

label {
  color: black;
}

.formulario {
  background: linear-gradient(to right, lightblue, white);
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
  width: 400px;
  height: 300px;
  box-shadow: 10px 5px 5px black;
}

.contacto {
  background: linear-gradient(to right, lightblue, white);
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
  width: 300px;
  height: 300px;
  box-shadow: 10px 5px 5px black;
}

.formulario2 {
  background: linear-gradient(to right, lightblue, white);
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
  width: 450px;
  height: 600px;
  box-shadow: 10px 5px 5px black;
}

.contacto:hover {
  background-color: azure;
  height: 400px;
  width: 400px;
}



.tituloContacto {
  text-align: center;
}

/* Grid Contacto */
.gridContacto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "titulo  tituto"
    "contacto formu2"
    "contacto formu2"
    "formu fomru";
}

.gridContacto h1 {
  grid-area: titulo;
}

.gridContacto div {
  grid-area: redes;
}

.gridContacto main {
  grid-area: contacto;
}

.gridContacto img {
  grid-area: escudo;
}

.formulario {
  grid-area: formu;
}

.contacto {
  grid-area: contacto;
}

.formulario2 {
  grid-area: formu2;
}

/* Media Queries contacto  */
@media screen and (max-width: 600px) {
  body {
    background-color: aqua;
  }

  .gridContacto {
    display: flex;
    flex-direction: column;
    grid-template-areas:
      "titulo titulo"
      "contacto formu2"
      "contacto formu2"
      "formu formu2";
  }
}

@media screen and (min-width: 600px) {
  body {
    background-color: aquamarine;
  }

  .gridContacto {
    display: flex;
    flex-direction: column;
    grid-template-areas:
      "titulo titulo"
      "contacto formu2"
      "contacto formu2"
      "formu formu2";
  }


}