/* Futbol Juvenil */

.categoriasInferiores {
    background: linear-gradient(to right, blue , white);
   border: 1px black solid;
   padding: 2px;
   margin: 5px;
   width: 380px;
   height: 300px;
   box-shadow: 10px 5px 5px black;
}

.nuevosProfesionales {
    background: linear-gradient(to right, blue , white);

   border: 1px black solid;
   padding: 2px;
   margin: 2px;
   width: 340px;
   height: 340px;
   box-shadow: 10px 5px 5px black;
}

/* grid  Furbol Juvenil */

.categorias {
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: min-content min-content;
   grid-template-areas: 
   "tabla jugadores"
   "tabla jugadores";

}

.categoriasInferiores {
   grid-area: tabla;
}

.nuevosProfesionales {
   grid-area: jugadores;
}

/* media  queris futbol juvenil */

@media screen and (max-width: 770px) {
   body {
       background-color: aqua;
   }

   .categorias {
       display: flex;
       flex-direction: column;
   }
  

   
}

