

h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
}
/*
body {
    background-image: url(../img/frytrhg.jpg);
}
*/

footer {
    color: violet ;
} 

header {
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        background-color: white
    }

    nav {
        background-color: antiquewhite
    }

        li {
            display: inline-block;
        }

            a {
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
                margin: 10px;

                &:hover {
                    background-color: white;
                }
            }


}



/* 
nav {
    display: flex;
    margin-left: 50px;
    border: black solid;
    padding: 2px;
    margin: 3px;
    width: 700px;
    height: 20px;
} */

@import "contacto";

@import "futbol";

@import "plantel";

@import "multimedia";

@import "fut-juv";

@import "variables";

@import "condicionales" ;

@import "bucles";

@import "maps";

@import "extend";

@import "mixin";

/*Index*/

.nuevosSocios {
    background: linear-gradient(to right, blue , white);
    /* background-color: aqua; */
    border: 1px black solid;
    padding: 2px;
    margin: 5px;  
    width: 200px;
    height: 540px;
}


.fechas {
    background: linear-gradient(to right, blue , white);
    /* background-color: aqua; */
    border: 1px black solid;
    padding: 2px;
    margin: 5px;  
    width: 250px;
    height: 500px;

}



.actualidad {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "partidos socios"
    "partidos socios";
}

.fechas {
    grid-area: partidos;
}

.nuevosSocios {
    grid-area: socios;
}


/* Media Queris Index */
@media screen and (max-width: 500px) {
    .actualidad {
        display: flex;
        flex-direction: column;
    }
    .googleMaps{
        display: none;
    }
} 
/*
@media screen and (min-width: 480px) {
    .actualidad {
        display: flex;
        flex-direction: column;
        grid-template-areas: 
        "partidos"
        "socios";
    }
    .googleMaps{
        display: none;
    }
    
}

@media screen and (min-width: 1124px) {
    .actualidad {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: min-content min-content;
        grid-template-areas: 
        "partidos socios"
        "partidos socios";
    }
    .googleMaps {
        display: block;
    }

} */








