

h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

body {
    background-image: url(../img/esponja-de-cosech.png);
}




header {
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        background-color: black
    }

    nav { 
        background-color: antiquewhite
    }

        li {
            display: inline-block;
        }

            a {
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
                margin: 10px;

                &:hover {
                    background-color: white;
                }
            }


}




@import "contacto";

@import "futbol";

@import "plantel";

@import "multimedia";

@import "fut-juv";

@import "variables";

@import "condicionales" ;

@import "bucles";

@import "maps";

@import "extend";

@import "mixin";

/*Index*/

.nuevosSocios {
    background: linear-gradient(to right, blue , white);
    border: 1px black solid;
    padding: 2px;
    margin: 5px;  
    width: 200px;
    height: 540px;
}


.fechas {
    background: linear-gradient(to right, blue , white);
    border: 1px black solid;
    padding: 2px;
    margin: 5px;  
    width: 250px;
    height: 500px;

}



.actualidad {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "partidos socios"
    "partidos socios";
}

.fechas {
    grid-area: partidos;
}

.nuevosSocios {
    grid-area: socios;
}


/* Media Queris Index */
@media screen and (max-width: 500px) {
    .actualidad {
        display: flex;
        flex-direction: column;
    }
    .googleMaps{
        display: none;
    }
} 









